.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  .mainContentContainer {
    height: 100%;
    width: calc(100% - 70px);
    overflow: hidden;
    &.active {
      width: calc(100% - 240px);
    }
    .childrenDev {
      height: calc(100% - 60px);
      width: 100%;
    }
  }
  .sidebar {
    position: relative;
    width: 70px;
    height: 100%;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s;
    .profileContent {
      position: absolute;
      bottom: 10px;
      left: 0;
      margin: 0 auto;
      width: 100%;
      height: 60px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        height: 35px;
        width: 35px;
      }
    }
    .navList {
      margin-top: 20px;
      height: 100%;
      li {
        margin: 8px 0;
        list-style: none;
        width: 100%;
        position: relative;
        line-height: 50px;
        .tooltip {
          opacity: 0;
          display: block;
          position: absolute;
          height: 35px;
          background: white;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          width: 122px;
          left: 135px;
          z-index: 3;
          top: 0;
          transform: translate(-50%, -50%);
          border-radius: 12px;
          line-height: 35px;
          text-align: center;
          pointer-events: none;
        }
        &:hover {
          .tooltip {
            transition: all 0.5s ease;
            opacity: 1 !important;
            top: 50%;
          }
        }

        a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          color: lightgrey;
          text-decoration: none;
          transition: all 0.5s ease;
          border-radius: 12px;
          white-space: nowrap;
          &:hover {
            background: white;
            color: #11101d;
          }
          #navIcon {
            font-size: 28px;
            margin: 10px;
          }
          .linkName {
            display: none;
          }
        }
      }
    }
    .logoContent {
      position: relative;
      margin: 5px 0;
      #logoImg {
        position: absolute;
        width: 35px;
        height: 35px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        top: 50%;
        line-height: 50px;
        left: 30%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }
      #menuIcon {
        position: absolute;
        font-size: 28px !important;
        color: white;
        top: 50%;
        line-height: 50px;
        left: 30%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }
      .logo {
        color: white;
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        opacity: 0;
        pointer-events: none;

        #logoicon {
          object-fit: contain;
          height: 35px;
          width: 35px;
          margin-right: 5px;
        }
        .logoName {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
    &.active {
      width: 240px;
      .profileContent {
        img {
          object-fit: contain;
          height: 35px;
          width: 35px;
          cursor: pointer;
        }
      }
      .logoContent {
        #menuIcon {
          left: 80%;
        }
        .logo {
          opacity: 1;
          pointer-events: none;
        }
      }
      .navList {
        margin-top: 20px;
        li {
          list-style: none;
          width: 100%;
          position: relative;
          margin: 0 5px;
          line-height: 50px;
          margin-bottom: 5px;
          .tooltip {
            display: none;
          }

          a {
            justify-content: flex-start;

            #navIcon {
              font-size: 28px;
              margin: 10px;
            }
            .linkName {
              font-size: 15px;
              font-weight: 400;
              white-space: nowrap;
              transition: 0.4s;
              display: unset;
            }
          }
        }
      }
    }
  }
}
.activenavLink {
  background: white;
  color: #11101d !important;
}
@media only screen and (max-width: 480px) {
  .mainContainer {
    .sidebar {
      .profileContent {
        display: none;
      }
    }
  }
}
