.card {
  width: 250px;
  height: 200px;
  align-self: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid var(--color);
  border-radius: 20px;
  position: relative;
  .titlediv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 10px auto;
    flex-direction: row;
    img {
      height: 35px;
      width: 35px;
      object-fit: contain;
    }
    h2 {
      text-align: left;
      color: var(--color);
      margin: 9px 0px;
    }
  }

  p {
    width: 80%;
    display: block;
    overflow: hidden;
    text-align: left;
    margin: 6px 0px;
    padding: 0px 10px;
  }
  .moreinfo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.4s ease;
    #icon {
      font-size: 1.5rem;
      color: black;
      transition: all 0.4s ease;
    }
    &:hover {
      #icon {
        font-size: 1.7rem !important;
      }
    }
  }
}
